<div class="container" id="wrapper">
  <%= link_to icon('fas', 'arrow-left'), cocktails_path, class:"btn-back header-txt"%>

  <h2 class="header-txt"><%= @cocktail.name %>: </h2>
  <h2 class="header-txt">New Ingredient</h2>

  <%= simple_form_for ([@cocktail, @dose]) do |d| %>
    <%= d.association :ingredient %>
    <%= d.input :description, label:"Amount" %>
    <%= d.submit "+ Add", class: "btn-add header-txt" %>
  <% end %>

</div>
